# Importing libraries

In [ ]:
import cx_Oracle
import sqlalchemy as sa


import pandas as pd

In [ ]:
query = '''
SELECT *
FROM YOUR TABLE
'''

In [ ]:
# Connection with cx_Oracle

# Set the path to the Oracle Instant Client
route = '/Users/ME/Desktop/instantclient_19_8' # THIS IS MY PATH ON MAC
cx_Oracle.init_oracle_client(lib_dir=route)

# Create a Data Source Name (DSN) using the connection details
dsn_tns = cx_Oracle.makedsn('10.10.10.10', '1521', service_name='YOUR_SERVICE_NAME')

# Establish a connection to the Oracle database
conn = cx_Oracle.connect(user=r'YOUR_USER', password='YOUR_PASS', dsn=dsn_tns)

# Create a cursor to execute SQL queries
cur = conn.cursor()

In [ ]:
# Connection with SQLAlchemy


# Example connection details (replace with actual database credentials)
username = 'YOUR_USERNAME'
password = 'YOUR_PASSWORD'
host = 'YOUR_DATABASE_HOST'
port = 'YOUR_DATABASE_PORT'
service_name = 'YOUR_SERVICE_NAME'

# Create a SQLAlchemy engine for Oracle database
oracle_db = sa.create_engine(f'oracle+cx_oracle://{username}:{password}@{host}:{port}/?service_name={service_name}')

# Establish a connection to the Oracle database
connection = oracle_db.connect()

In [ ]:
# Reading Data from Oracle Database


# Assuming 'query' contains your SQL query and 'connection' is the established database connection

# Execute the SQL query and retrieve the result into a DataFrame
df = pd.read_sql_query(query, connection)

# Display the first few rows of the DataFrame
df.head()